<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/api.js"></script>
    <script src="js/game.js"></script>
    <title>The mind</title>

    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div id="waitingLogin">
        waiting to start game
    </div>
    <div id="waitingInter" class="hidden">
        <p id="roundResult"></p>
    </div>
    <div id="game" class="hidden">
        <div id="lastCard"></div>
        <div>
            <button id="btnSend">Send</button>
            <button id="btnPanic">Panic!</button>
            <p>Cards:</p>
            <div id="cards"></div>
        </div>
    </div>
</body>
</html>