<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/game.js"></script>
    <title>The mind</title>

    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div id="waitingLogin">
        waiting to start game
    </div>
    <div id="waitingInner" class="hidden">
        waiting to start next round
    </div>
    <div id="game" class="hidden">
        game
    </div>

    <div>
        <button id="startBtn">Start game</button>
        <button id="startRoundBtn">Start round</button>
        <button id="endRoundBtn">End round</button>
        <button id="endGameBtn">End game</button>
    </div>
</body>
</html>