<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="js/api.js"></script>
    <script src="js/root.js"></script>
    <title>Root menu</title>
</head>
<body>
    <button id="startBtn">Start game</button>
    <button id="startRoundBtn">Start round</button>
    <button id="endRoundBtn">End round</button>
    <button id="endGameBtn">End game</button>
    <button id="restartGameBtn">Restart Game</button>
    <button id="addLiveBtn">One up</button>
    <button id="addPanicBtn">Extra panic</button>
    <pre id="rootStatus"></pre>
    <button id="showCardsBtn">Show cards</button>
</body>
</html>